* {
    font-family:"Inter", sans-serif;
    outline:none;
    transition:all 0.5s;
}

body {
	background-color:#F9FBFF;
    text-align:center;
}

#coverBg {
    background-color:rgb(0,0,0,0.5);
    width:100%;
    height:100vh;
    position:fixed;
}

#rules {
    background-color:#F9FBFF;
    width:300px;
    padding:10px;
    position:fixed;
    border-radius:10px;
    left:50%;
    transform:translateX(-50%);
    padding-bottom:20px;
}
/*
#closeRules {
    width:50px;
    height:50px;
    border-radius:50px;
    border:transparent;
    font-size:large;
    background-color:transparent;
    position:fixed;
    right:5px;
    top:5px;
}
#closeRules:hover {
    background-color:rgb(220,220,220,0.5);
}
#closeRules:active {
    background-color:rgb(211,211,211,0.5);
}
*/
.rule {
    width:280px;
    margin:auto;
}

button, #openRules {
    cursor:pointer;
}

#title {
    border-bottom:black solid 1px;
    width:fit-content;
    margin:auto;
}

#info {
    width:250px;
    margin:auto;
}

.infoLabel {
    float:left;
    margin-left:10px;
}

.infoField {
    width:230px;
    padding:10px;
    border:black solid 1px;
    border-radius:50px;
}

#startChatting, #acceptRules {
    border:transparent solid 1px;
    width:253px;
    height:40px;
    background-color:blueviolet;
    border-radius:50px;
    color:#F9FBFF;
}
#startChatting:hover, #acceptRules:hover {
    text-decoration:underline;
}
#startChatting:active, #acceptRules:active {
    box-shadow:0 0 5px blueviolet;
}

#openRules {
    color:blue;
}
